@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap');
html {
    background-color:blanchedalmond;
}
.room-nav {
  text-align: center;
  width: 70vw; 
  margin-top: 50px;
  background-color: whitesmoke;
  border: 2px; box-shadow: chocolate;
  border-radius: 12px;
  margin-left: auto;
  margin-right: auto;

}

a {

  margin-left: 50px;
  text-decoration: beige;
  font-family: 'Teko', sans-serif;
  color: black;
  font-size: 25px;

}
.top-body {
  background-image: url('');
  height: 50vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  filter: blur();
  background-color: beige;
}
