@import url('https://fonts.googleapis.com/css2?family=Kurale&family=Montserrat+Alternates&family=Numans&family=Public+Sans:wght@500&family=Trocchi&display=swap');
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently*/
            -o-user-select: none;
    background-color:white;
    margin: 0px;
    padding: 0px;
    backdrop-filter: blur(5px);
    text-align: justify;
}

.top-body {
  margin: 0;
  padding: 0;
  height: 70vh;
  width: 100vw;
}

#top {
}

a {
  position: relative;
  padding: 0;
  margin: 0;
  height: auto;
  top: 25%;
  vertical-align: middle;
  margin-left: 20px;
  margin-right: 20px;
  text-decoration: beige;
  font-family: 'Numans', sans-serif;
  color: black;
  font-size: 16px;
  transition: color 0.1s;
  transition-timing-function: ease;

}

a:hover {
  color: gray;
  
}



.values {
  background-color: white;
  height: 20vh;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

p {
  font-family: 'Numans', sans-serif;
}

#title {
  font-family: 'Numans', sans-serif;
  font-size: 50px;
  opacity: 0;
  transition: opacity 2s;
}

#current-temp {
  opacity: 0;
  transition: opacity 2s;
}

#current-hum {
  opacity: 0;
  transition: opacity 2s;
}

#click {
  opacity: 0;
  transition: opacity 2s;
}

#bg {
    position: absolute;
    margin: 0;
    padding: 0;
    height: 70vh;
    width: 120vw;
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    background-color: white;
    filter: blur(0px);
    transition: filter 0.7s;
}

.bubbles {
  width: 15vw;
  margin-top: 0%;
  margin-left: 20%;
  margin-right: 2.5%;
  transition: width 0.05s;
  opacity: 0.7;
}

.con {
  display: inline-block;
  margin-left: 2%;
  margin-right: 2%;
  transform: translate(0px, 0px);
  transition: transform 4s linear, width 1s;

}

.con p {
    font-size: 24px;
    text-align: center;
    position: relative;
    margin-left: 55%;
    margin-right: 55%;
    margin-top: -70%;
    color: rgb(250, 250, 250);
    text-shadow: 1px 1px 1px gray;
}

.bubbles-container {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.bubbles:hover {
    opacity: 0.9;
    
}

.bubbles:active {
  width: 14.8vw;
  filter: contrast(90%);
}

#chart_div, #monthchart_div{
  transform: translateX(-100vw);
  height: 800px;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  opacity: 0;
  transition: opacity 4s, transform 2s;
}

#bubble {
  position: fixed;
  right: 80vw;
  top: 130vh;
  width: 25%;
  opacity: 0.2;
}

#bubble1 {
  position: fixed;
  right: 30vw;
  top: 80vh;
  width: 20%;
  opacity: 0.15;
}

#bubble2 {
  position: fixed;
  right: -5vw;
  top: 120vh;
  width: 40%;
  opacity: 0.1;
}

#bubble3 {
  position: fixed;
  right: 65vw;
  top: 80vh;
  width: 30%;
  opacity: 0.2;
}

#bubble4 {
  position: fixed;
  right: 2vw;
  top: 200vh;
  width: 30%;
  opacity: 0.05;
}

#bubble4:hover{
  opacity: 0.3;
}

@media screen and (max-width: 1500px) {

  #chart_div, #monthchart_div {
    height: 600px;
    width: 1000px;
  }

    .bubbles {
        margin-left: 10%;
    }

    .con p {
        font-size: 18px;
    }

    .bubbles {
        width: 14vw;
        margin-top: 5vh;
    }
    
    /*custom checkbox*/

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 4vmin;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 5vmin;
  width: 5vmin;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
  top: 2vmin;
  left: 2vmin;
  width: 2vmin;
  height: 8px;
  border-radius: 50%;
  background: white;
}
    
}


@media screen and (max-width: 500px) {


  
}


