@import url('https://fonts.googleapis.com/css2?family=Kurale&family=Montserrat+Alternates&family=Numans&family=Public+Sans:wght@500&family=Trocchi&display=swap');
html {
  scroll-behavior: smooth;
}

body {
    background-color:white;
    margin: 0px;
    padding: 0px;
    backdrop-filter: blur(5px);
    text-align: justify;
}
.room-nav {
  transform: translateY(10px);
  text-align: center;
  width: 50vw; 
  height: 5vh;
  background-color: rgb(260, 260, 260);
  border: 2px; 
  box-shadow: 1px 1px 1px rgb(0, 0, 0);
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;

}

.top-body {
  margin: 0;
  padding: 0;
  height: 70vh;
  width: 100vw;
  background-image: url('mansion.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
  background-color: white;
  backdrop-filter: blur(4px);
}

a {
  position: relative;
  padding: 0;
  margin: 0;
  height: auto;
  top: 25%;
  vertical-align: middle;
  margin-left: 20px;
  margin-right: 20px;
  text-decoration: beige;
  font-family: 'Numans', sans-serif;
  color: black;
  font-size: 16px;
  transition: color 0.1s;
  transition-timing-function: ease;

}

a:hover {
  color: gray;
  
}



.test {
  background-color: white;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

p {
  font-family: 'Numans', sans-serif;
}

#title {
  font-family: 'Numans', sans-serif;
  opacity: 0;
  transition: opacity 2s;
}

#temp {
  opacity: 0;
  transition: opacity 2s;
}

#temp {
  opacity: 0;
  transition: opacity 2s;
}

#hum {
  opacity: 0;
  transition: opacity 2s;
}

#bg {
    position: absolute;
    margin: 0;
    padding: 0;
    height: 70vh;
    width: 100vw;
    background-image: url('mansion.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    background-color: white;
    filter: blur(1px);
}

